files:
  "/opt/elasticbeanstalk/tasks/bundlelogs.d/01-sample-app.conf":
    content: |
      /tmp/sample-app*

  "/opt/elasticbeanstalk/tasks/taillogs.d/01-sample-app.conf":
    content: |
      /tmp/sample-app.log

  "/tmp/beanstalklogs.conf":
    content: |
      [/var/log/httpd/error_log]
      log_group_name=`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/httpd/error_log"]]}`
      log_stream_name={instance_id}
      file=/var/log/httpd/error_log*

      [/var/log/httpd/access_log]
      log_group_name=`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/httpd/access_log"]]}`
      log_stream_name={instance_id}
      file=/var/log/httpd/access_log*

      [/var/log/eb-activity.log]
      log_group_name=`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/eb-activity.log"]]}`
      log_stream_name={instance_id}
      file=/var/log/eb-activity.log*
commands:
  01copy_awslogs_config:
    command: cp /tmp/beanstalklogs.conf /etc/awslogs/config/beanstalklogs.conf
  02restart_awslogs:
    command: service awslogs restart || service awslogs start
